backend/.env
backend/__pycache__/
*.pyc

flutter/app/linux/flutter/generated*
flutter/app/windows/flutter/generated*
flutter/app/macos/Flutter/Generated*
venv/
__pycache__/
*.pyc
.env
venv/
__pycache__/
*.pyc
.env
